/* This is a custom css file for dataTable*/
.datatable-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Wrapper for the scrollable table */
.scrollable-table-container {
    max-height: 600px; /* Set the maximum height for the table */
    overflow-y: auto; 
}

#results_table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#results_table tr {
    transition: background-color 0.3s ease;
}

#results_table tr:hover {
    background-color: #f1f1f1;
}

#results_table td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.dt-buttons button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.dt-buttons button:hover {
    background-color: #0056b3;
}


.dt-input {
    width: 400px; /* Adjust the width of the search box */
    padding: 10px 10px; 
    font-size: 12px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
}


.dataTables_filter label {
    font-size: 14px; /* Reduce the font size of the label */
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .datatable-container {
        padding: 10px;
    }

    .scrollable-table-container {
        max-height: 300px; /* Adjust max height for smaller screens */
    }

    .dt-buttons {
        font-size: 12px;
    }
}
