/* This is a custom css file for dataTable*/

 .datatable-container .scrollable-table-container table td {
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
    max-width: 150px;           
  }

  .datatable-container .scrollable-table-container table td:hover {
    overflow: visible;          
    white-space: normal;       
    background-color: #f5f5f5;  
  }


#results_table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#results_table tr {
    transition: background-color 0.3s ease;
}

#results_table tr:hover {
    background-color: #f1f1f1;
}

#results_table td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}


.dt-input {
    width: 400px; 
    padding: 10px 10px; 
    font-size: 12px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
}


.dataTables_filter label {
    font-size: 14px; 
}

.datatable-container .scrollable-table-container .dt-paging-button {
    padding: 8px 12px;            
    margin: 0 5px;               
    background-color: #007bff;    
    color: white;                
    border: 1px solid #007bff;    
    border-radius: 5px;           
    font-size: 14px;               
    cursor: pointer;             
    transition: background-color 0.3s, color 0.3s; 
  }

  /* Hover effect for buttons */
  .datatable-container .scrollable-table-container .dt-paging-button:hover {
    background-color: #0056b3;  
    color: #fff;                
  }

  /* Active page button style (for the button with the class "current") */
  .datatable-container .scrollable-table-container .dt-paging-button.current {
    background-color: #0056b3;  
    color: white;               
    border: 1px solid #0056b3; 
  }

  /* Disabled state for pagination buttons (for "first", "previous", "next", and "last") */
  .datatable-container .scrollable-table-container .dt-paging-button.disabled {
    background-color: #ccc;     
    color: #999;                
    cursor: not-allowed;       
    border: 1px solid #ccc;     
  }

  /* Style for "Previous" and "Next" buttons (make them bold) */
  .datatable-container .scrollable-table-container .dt-paging-button.previous,
  .datatable-container .scrollable-table-container .dt-paging-button.next {
    font-weight: bold;           
  }

  /* Style for "First" and "Last" buttons */
  .datatable-container .scrollable-table-container .dt-paging-button.first,
  .datatable-container .scrollable-table-container .dt-paging-button.last {
    display: none;   
  }

  /* Style for the ellipsis (...) */
  .datatable-container .scrollable-table-container .ellipsis {
    font-size: 16px;             
    color: #007bff;              
  }


/* Responsive styles */
@media screen and (max-width: 768px) {
    .datatable-container {
        padding: 10px;
    }

    .scrollable-table-container {
        max-height: 300px; 
    }

    .dt-buttons {
        font-size: 12px;
    }
}
